.idea
*~
.DS_Store
*.a

# CMake
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
DartConfiguration.tcl
Testing
CTestTestfile.cmake
.ipynb_checkpoints/
.swp
*.swp
build*
.ninja*

example
example_hpp

